In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
import seaborn as sns 
from sklearn.preprocessing import LabelEncoder,OneHotEncoder,StandardScaler,RobustScaler
from scipy import stats 
from scipy.stats import skew,kurtosis

In [6]:
path = input("Please enter the path of your csv file: ")
path

'C:\\Users\\Devadarsan\\Desktop\\Karthik_projects\\EDA_Package\\EDA_python_package_library\\layoffs_data.csv'

In [7]:
df = pd.read_csv(path)
df

,Company,Location_HQ,Industry,Laid_Off_Count,Date,Source,Funds_Raised,Stage,Date_Added,Country,Percentage,List_of_Employees_Laid_Off
0,Oda,Oslo,Food,150.0,2024-06-05,https://techcrunch.com/2024/06/05/softbank-bac...,691.0,Unknown,2024-06-05 18:01:25,Norway,NaN,Unknown
1,Pagaya,Tel Aviv,Finance,100.0,2024-06-05,https://www.calcalistech.com/ctechnews/article...,2000.0,Post-IPO,2024-06-05 23:11:24,Israel,0.20,Unknown
2,Aleph Farms,Tel Aviv,Food,30.0,2024-06-05,https://www.calcalistech.com/ctechnews/article...,119.0,Unknown,2024-06-05 23:13:43,Israel,0.30,Unknown
3,MoonPay,Dover,Crypto,30.0,2024-06-05,https://www.theblock.co/post/298638/moonpay-la...,651.0,Unknown,2024-06-05 23:12:47,United States,0.10,Unknown
4,Yext,New York City,Marketing,NaN,2024-06-05,https://www.investing.com/news/economy-news/ye...,117.0,Post-IPO,2024-06-05 18:02:40,United States,0.12,Unknown
...,...,...,...,...,...,...,...,...,...,...,...,...
3637,Service,Los Angeles,Travel,NaN,2020-03-16,https://techcrunch.com/2020/03/16/travel-savin...,5.1,Seed,2020-08-31 15:17:26,United States,1.00,Unknown
3638,HopSkipDrive,Los Angeles,Transportation,8.0,2020-03-13,https://layoffs.fyi/2020/04/02/hopskipdrive-la...,45.0,Unknown,2020-04-03 04:47:03,United States,0.10,Unknown
3639,Panda Squad,SF Bay Area,Consumer,6.0,2020-03-13,https://twitter.com/danielsinger/status/123854...,1.0,Seed,2020-04-17 00:12:49,United States,0.75,Unknown
3640,Tamara Mellon,Los Angeles,Retail,20.0,2020-03-12,https://layoffs.fyi/list/tamara-mellon/,90.0,Series C,2020-03-31 16:04:23,United States,0.40,Unknown
3641,EasyPost,Salt Lake City,Logistics,75.0,2020-03-11,https://www.bizjournals.com/louisville/news/20...,12.0,Series A,2020-03-31 13:21:54,United States,NaN,Unknown

<h1>Initial Inspection<h1>

In [20]:
class Inspection():

    def __init__(df):
        df = df
    
    def inspect():
        
        size = df.size
        shape = df.shape
        dimentions = df.ndim
        info = df.info()
        summary = df.describe()
        columns = df.columns
        n_col = len(columns)
        types = df.dtypes
        duplicated = df.duplicated().sum()
        p_dup = duplicated / (len(df)*100)
        missing = df.isnull().sum()
        p_miss = missing / (len(df)*100)
        numeric = df.select_dtypes(include=['int64','float64'])
        n_num = len(numeric)
        categoical = df.select_dtypes(exclude=['int64','float64'])
        n_cat = len(categoical)
        datetime = df.select_dtypes(include=['datetime64'])
        corr = df.corr(numeric_only=True)

        for col in numeric.columns:
            print(f"\nProcessing column for calculating skewness: {col}")

            skewness_value = skew(numeric[col].dropna())  # Dropping NaN to avoid skew calculation issues
            print(f"Skewness of '{col}': {skewness_value}")

            if skewness_value > 1:
                print(f"'{col}' is Highly Positively Skewed(Right Skewed).")
            elif 0.5 < skewness_value <= 1:
                print(f"'{col}' is Moderately Positively Skewed.")
            elif -0.5 <= skewness_value <= 0.5:
                print(f"'{col}' is Approximately Symmetric.")
            elif -1 <= skewness_value < -0.5:
                print(f"'{col}' is Moderately Negatively Skewed(Left Skewed).")
            else:
                print(f"'{col}' is Highly Negatively Skewed.")
        
        for col in numeric.columns:
            print(f"\nProcessing column for kurtosis calculation: {col}")

            kurtosis_value = kurtosis(numeric[col].dropna())  # Dropping NaN to avoid calculation issues
            print(f"Kurtosis of '{col}': {kurtosis_value}")

            if kurtosis_value > 0:
                print(f"'{col}' is Leptokurtic (heavy tails of outliers).")
            elif kurtosis_value == 0:
                print(f"'{col}' is Mesokurtic (normal distribution).")
            else:
                print(f"'{col}' is Platykurtic (light tails of outliers).")
        
        print("Total no. of elements: ",size)
        print("*"*100)
        print("Shape of the dataset: ",shape)
        print("*"*100)
        print("Dimentions of the dataset: ",dimentions)
        print("*"*100)
        print("Information of the dataset: ",info)
        print("*"*100)
        print("Statistical summary of the dataset: ",summary)
        print("*"*100)
        print("Name of the columns: ",columns)
        print("*"*100)
        print("Total no. of columns: ",n_col)
        print("*"*100)
        print("Datatypes of the dataset: ",types)
        print("*"*100)
        print("No. of duplicated values: ",duplicated)
        print("*"*100)
        print("Percentage (%) of duplicated values: ",p_dup*100)
        print("*"*100)
        print("No. of missing values: ",missing)
        print("*"*100)
        print("Percentage (%) of missing values: ",p_miss*100)
        print("*"*100)
        print("Numerical columns are: ",numeric)
        print("*"*100)
        print("No. of numrerical columns are: ",n_num)
        print("*"*100)
        print("Categoical cloumns are: ",categoical)
        print("*"*100)
        print("No. of categoical columns are: ",n_col)
        print("*"*100)
        print("Date type columns are: ",datetime)
        print("*"*100)
        print("Numerical correlations: ",corr)
        print("*"*100)

In [19]:
Inspection.inspect()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3642 entries, 0 to 3641
Data columns (total 12 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Company                     3642 non-null   object
 1   Location_HQ                 3642 non-null   object
 2   Industry                    3642 non-null   object
 3   Laid_Off_Count              2389 non-null   float64
 4   Date                        3642 non-null   object
 5   Source                      3642 non-null   object
 6   Funds_Raised                3252 non-null   float64
 7   Stage                       3642 non-null   object
 8   Date_Added                  3642 non-null   object
 9   Country                     3642 non-null   object
 10  Percentage                  2342 non-null   float64
 11  List_of_Employees_Laid_Off  3642 non-null   object
dtypes: float64(3), object(9)
memory usage: 341.6+ KB

Processing column for calculating skewness: Laid_Off_Count
Skewness of 'Laid_Off_Count': 9.441710861856334
'Laid_Off_Count' is Highly Positively Skewed(Right Skewed).

Processing column for calculating skewness: Funds_Raised
Skewness of 'Funds_Raised': 21.013927810905585
'Funds_Raised' is Highly Positively Skewed(Right Skewed).

Processing column for calculating skewness: Percentage
Skewness of 'Percentage': 1.6681900301760468
'Percentage' is Highly Positively Skewed(Right Skewed).

Processing column for kurtosis calculation: Laid_Off_Count
Kurtosis of 'Laid_Off_Count': 109.06847670902599
'Laid_Off_Count' is Leptokurtic (heavy tails of outliers).

Processing column for kurtosis calculation: Funds_Raised
Kurtosis of 'Funds_Raised': 516.6361722167625
'Funds_Raised' is Leptokurtic (heavy tails of outliers).

Processing column for kurtosis calculation: Percentage
Kurtosis of 'Percentage': 1.5531610607046469
'Percentage' is Leptokurtic (heavy tails of outliers).
Total no. of elements:  43704
****************************************************************************************************
Shape of the dataset:  (3642, 12)
****************************************************************************************************
Dimentions of the dataset:  2
****************************************************************************************************
Information of the dataset:  None
****************************************************************************************************
Statistical summary of the dataset:         Laid_Off_Count   Funds_Raised   Percentage
count     2389.000000    3252.000000  2342.000000
mean       257.926329     798.569494     0.281216
std        829.432277    4758.393161     0.287294
min          3.000000       0.000000     0.000000
25%         40.000000      51.000000     0.100000
50%         80.000000     166.000000     0.170000
75%        181.000000     469.250000     0.300000
max      14000.000000  121900.000000     1.000000
****************************************************************************************************
Name of the columns:  Index(['Company', 'Location_HQ', 'Industry', 'Laid_Off_Count', 'Date',
       'Source', 'Funds_Raised', 'Stage', 'Date_Added', 'Country',
       'Percentage', 'List_of_Employees_Laid_Off'],
      dtype='object')
****************************************************************************************************
Total no. of columns:  12
****************************************************************************************************
Datatypes of the dataset:  Company                        object
Location_HQ                    object
Industry                       object
Laid_Off_Count                float64
Date                           object
Source                         object
Funds_Raised                  float64
Stage                          object
Date_Added                     object
Country                        object
Percentage                    float64
List_of_Employees_Laid_Off     object
dtype: object
****************************************************************************************************
No. of duplicated values:  0
****************************************************************************************************
Percentage (%) of duplicated values:  0.0
****************************************************************************************************
No. of missing values:  Company                          0
Location_HQ                      0
Industry                         0
Laid_Off_Count                1253
Date                             0
Source                           0
Funds_Raised                   390
Stage                            0
Date_Added                       0
Country                          0
Percentage                    1300
List_of_Employees_Laid_Off       0
dtype: int64
****************************************************************************************************
Percentage (%) of missing values:  Company                       0.000000
Location_HQ                   0.000000
Industry                      0.000000
Laid_Off_Count                0.344042
Date                          0.000000
Source                        0.000000
Funds_Raised                  0.107084
Stage                         0.000000
Date_Added                    0.000000
Country                       0.000000
Percentage                    0.356947
List_of_Employees_Laid_Off    0.000000
dtype: float64
****************************************************************************************************
Numerical columns are:        Laid_Off_Count  Funds_Raised  Percentage
0              150.0         691.0         NaN
1              100.0        2000.0        0.20
2               30.0         119.0        0.30
3               30.0         651.0        0.10
4                NaN         117.0        0.12
...              ...           ...         ...
3637             NaN           5.1        1.00
3638             8.0          45.0        0.10
3639             6.0           1.0        0.75
3640            20.0          90.0        0.40
3641            75.0          12.0         NaN

[3642 rows x 3 columns]
****************************************************************************************************
No. of numrerical columns are:  3642
****************************************************************************************************
Categoical cloumns are:              Company     Location_HQ        Industry        Date  \
0               Oda            Oslo            Food  2024-06-05
1            Pagaya        Tel Aviv         Finance  2024-06-05
2       Aleph Farms        Tel Aviv            Food  2024-06-05
3           MoonPay           Dover          Crypto  2024-06-05
4              Yext   New York City       Marketing  2024-06-05
...             ...             ...             ...         ...
3637        Service     Los Angeles          Travel  2020-03-16
3638   HopSkipDrive     Los Angeles  Transportation  2020-03-13
3639    Panda Squad     SF Bay Area        Consumer  2020-03-13
3640  Tamara Mellon     Los Angeles          Retail  2020-03-12
3641       EasyPost  Salt Lake City       Logistics  2020-03-11

                                                 Source     Stage  \
0     https://techcrunch.com/2024/06/05/softbank-bac...   Unknown
1     https://www.calcalistech.com/ctechnews/article...  Post-IPO
2     https://www.calcalistech.com/ctechnews/article...   Unknown
3     https://www.theblock.co/post/298638/moonpay-la...   Unknown
4     https://www.investing.com/news/economy-news/ye...  Post-IPO
...                                                 ...       ...
3637  https://techcrunch.com/2020/03/16/travel-savin...      Seed
3638  https://layoffs.fyi/2020/04/02/hopskipdrive-la...   Unknown
3639  https://twitter.com/danielsinger/status/123854...      Seed
3640            https://layoffs.fyi/list/tamara-mellon/  Series C
3641  https://www.bizjournals.com/louisville/news/20...  Series A

               Date_Added        Country List_of_Employees_Laid_Off
0     2024-06-05 18:01:25         Norway                    Unknown
1     2024-06-05 23:11:24         Israel                    Unknown
2     2024-06-05 23:13:43         Israel                    Unknown
3     2024-06-05 23:12:47  United States                    Unknown
4     2024-06-05 18:02:40  United States                    Unknown
...                   ...            ...                        ...
3637  2020-08-31 15:17:26  United States                    Unknown
3638  2020-04-03 04:47:03  United States                    Unknown
3639  2020-04-17 00:12:49  United States                    Unknown
3640  2020-03-31 16:04:23  United States                    Unknown
3641  2020-03-31 13:21:54  United States                    Unknown

[3642 rows x 9 columns]
****************************************************************************************************
No. of categoical columns are:  12
****************************************************************************************************
Date type columns are:  Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...]

[3642 rows x 0 columns]
****************************************************************************************************
Numerical correlations:                  Laid_Off_Count  Funds_Raised  Percentage
Laid_Off_Count        1.000000      0.123458   -0.060812
Funds_Raised          0.123458      1.000000   -0.074559
Percentage           -0.060812     -0.074559    1.000000
****************************************************************************************************
Skewness of the dataset:  1.6681900301760468
****************************************************************************************************
Kurtosis of the dataset 1.5531610607046469
****************************************************************************************************

<h1>Missing values handling<h1>

In [ ]:
class MissingValueHandler():

    def __init__(df):
        df = df
    
    def mean():
        pass

    def median():
        pass

    def mode():
        pass

    def b_fill():
        pass

    def f_fill():
        pass

    def linear():
        pass

    def polynomial():
        pass

    def drop():
        pass

<h1>Outlier Handler<h1>

In [ ]:
class OutlierHander():

    def __init__(df):
        df = df
    
    def iqr_capping():
        pass

    def zscore_capping():
        pass


<h1>Scaling<h1>

In [10]:
class NumericalScaler():

    def __init__(df):
        df = df
    
    def standardscaler():
        pass

    def robustscaler():
        pass

<h1>Variable Transformation<h1>

In [12]:
class VariableTransformer():

    def __init__(df):
        df = df

    def binner():
        pass

    def log_transformer():
        pass

    def sqrt_transformer():
        pass

    def onehot_encoder():
        pass

    def label_encoder():
        pass